html, body {
    background-color: rgba(64, 68, 71, 0.664);
}

#navhead {
    text-align: center;
    font-size: 40px;
    float: none;
    padding: 0px;
    width: 100%;
    top: 10px;
} 

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
}

#selector{
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}

.previous_passwords{
    margin-bottom: 20px;
}

#length{
    display: inline-block;
    width: 100px;
}